/* #######################################################
Grey Separator
####################################################### */
#container .greySeparator
{
	clear: both;
	margin: 46px 0 0 0;
	height: 1px;
	background-color: #807873;
}
/* #######################################################
---/ End Grey Separator
####################################################### */





/* #######################################################
Intro
####################################################### */
#container .form {
  width: 400px;
	height: 45px;
	border: 1px solid #686868;
	background-color: #fff;
	padding-left: 5px;
	font-family: georgia;
	text-decoration: none;
	font-size: 26px;
	color: #333333;
	font-weight: 50;
	position:relative;
	border:1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
	color:#7da2aa;
	cursor: pointer;
	}
#container .input-rounded-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    border: 1px solid gray;
    padding:8px 10px 8px 10px;
    display:inline-block;
    text-decoration:none;
    background:#888888;
    margin-top:15px;

    color:#FFFFFF;
    cursor:pointer;
    font:17px sans-serif;
}

#container .input-rounded-button:hover { 
    text-decoration:none;
        background:#D8D8D8; 
    color:#383838; 
    cursor:pointer;
    border:1px solid #F8F8F8;
        margin-top:15px;
    
}
#container .intro
{
	clear: both;
	margin: 46px 0 0 0;
	text-align: left;
}

#container .intro h1
{
	margin: 0;
	padding: 0 0 5px 0;
	font: normal 2em "Times New Roman", Times, serif;
	color: #807873;
	font-style: italic;
}

#container .intro .highlight
{
	font-weight: bold;
	border-bottom: solid 2px #e97004;
}

#container .intro p
{
	margin: 25px 0 0 0;
	padding: 0;
	font: normal .75em "Times New Roman", Times, serif;
	color: #373431;
	line-height: 1.5em;
}

#container .intro a,
#container .intro a:link,
#container .intro a:active,
#container .intro a:visited
{
	font-style: normal;
	color: #e97004;
	text-decoration: none;
}

#container .intro a:hover
{
	text-decoration: underline;
}
/* #######################################################
---/ End Intro
####################################################### */





/* #######################################################
Grey Separator Thick
####################################################### */
#container .greySeparatorThick
{
	clear: both;
	margin: 46px 0 0 0;
	height: 6px;
	background-color: #807873;
}
/* #######################################################
---/ End Grey Separator Thick
####################################################### */





/* #######################################################
Featured work
####################################################### */
#lis {
	padding:10px;


}


#lis:hover {
	background-color:#fff;
	padding:10px;

}
.add {
	width:40px;
	height:40px;
	position:absolute;
	left: 980px;
	background-color:#000;
	margin-top:60px;

}
#container .featuredWork
{
	clear: both;
	margin: 26px 0 0 0;
	text-align: left;
}

#container .featuredWork h1
{
	margin: 0;
	padding: 0;
	font: normal 1em "Times New Roman", Times, serif;
	color: #373431;
	font-style: italic;
}

#container .featuredWork ul
{
	list-style: none;
}

#container .featuredWork .images
{
	padding: 25px 0 0 0;
}

#container .featuredWork .title
{
	padding: 25px 0 0 0;
}

#container .description .title a,
#container .description .title a:link,
#container .description .title a:active,
#container .description .title a:visited
{
	font-style: normal;
	color: #333;
	text-decoration: none;
}

#container .featuredWork .title a:hover
{
	text-decoration: underline;
}

#container .featuredWork .description
{
	padding: 12px 0 0 0;
	font: normal 1em "Times New Roman", Times, serif;
	color: #000;


}

#container .featuredWork li
{
	margin: 0 16px 0 0;
	width: 300px;
	float: left;
	font: normal 0.65em "Times New Roman", Times, serif;
	color: #e97004;
	font-style: italic;
}

#container .featuredWork .end
{
	margin: 0;
	width: 300px;
	float: left;
}
/* #######################################################
---/ End Featured work
####################################################### */

